
/* 
    Created on : mar 12, 2016, 9:59:31 a.m.
    Author     : Alonso
*/

body{
    background-color: #e2e2e2;
}

#encabezado{
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    height: 0%;
    position: fixed;
    -webkit-transition:all 1s;
    -ms-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
}

#pie{
    background-color: #2f2f2f;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    position: absolute;
}

#e_icono{
    margin-left: 2%;
    margin-top: 2%;
    position: absolute;
}

#e_titulo{
    margin-left: 5%;
    position: absolute;
    padding-left: 64px;
    padding-top: 2%;
}
#titulo:hover{
    color: #40be0a;
}

h1{
    font-family: 'Oswald';
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 200;
    color: #898989;
    margin-top: 0;
    margin-bottom: 0;
}